# Created by Vercel CLI
VERCEL="1"
VERCEL_ENV="development"
TURBO_REMOTE_ONLY=""
TURBO_RUN_SUMMARY=""
TURBO_DOWNLOAD_LOCAL_ENABLED=""
NX_DAEMON=""
VERCEL_URL=""
VERCEL_GIT_PROVIDER=""
VERCEL_GIT_PREVIOUS_SHA=""
VERCEL_GIT_REPO_SLUG=""
VERCEL_GIT_REPO_OWNER=""
VERCEL_GIT_REPO_ID=""
VERCEL_GIT_COMMIT_REF=""
VERCEL_GIT_COMMIT_SHA=""
VERCEL_GIT_COMMIT_MESSAGE=""
VERCEL_GIT_COMMIT_AUTHOR_LOGIN=""
VERCEL_GIT_COMMIT_AUTHOR_NAME=""
VERCEL_GIT_PULL_REQUEST_ID=""
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="your-clerk-publishable-key"
CLERK_SECRET_KEY="your-clerk-secret-key"
POSTGRES_URL="postgres://username:password@localhost:5432/database_name?sslmode=require"
POSTGRES_URL_NON_POOLING="postgres://username:password@localhost:5432/database_name?sslmode=require"
POSTGRES_URL_NO_SSL="postgres://username:password@localhost:5432/database_name"
POSTGRES_PRISMA_URL="postgres://username:password@localhost:5432/database_name?pgbouncer=true&connect_timeout=15&sslmode=require"
POSTGRES_USER="your-postgres-user"
POSTGRES_PASSWORD="your-postgres-password"
POSTGRES_HOST="localhost"
POSTGRES_DATABASE="your-postgres-database"
BLOB_READ_WRITE_TOKEN="your-vercel-blob-read-write-token"
SERVER_API_KEY="your-server-api-key"
STRIPE_PUBLISHABLE_KEY="your-stripe-publishable-key"
STRIPE_SECRET_KEY="your-stripe-secret-key"
STRIPE_PRICE_ID="your-stripe-price-id"
STRIPE_WEBHOOK_SECRET="your-stripe-webhook-secret"
APP_URL="http://localhost:3000"
OPENAI_API_KEY="your-openai-api-key"
